.quote-container {
    width: 50rem;
    max-width: 60rem;
    position: absolute;
    margin: 0 auto;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fffcfc;
    border-radius: 1.2rem;
    box-shadow: rgba(184, 184, 184, 0.6) 0px 3px 20px 10px;
    margin-top: 120px;
    margin-left: 270px;
    height: 300px;
  }

  .quote-container-content {
    min-height: 14rem;
  }
  
  .quote-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .quote-controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    background: #000000;
    padding: 0.6rem 1.2rem;
    color: white;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10rem;
    transition: all 0.4s ease;
    min-width: 15rem;
  }
 .quote-controls button:hover {
    box-shadow: none;
    background-color: #08a0ff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 24px 0px,
      rgba(52, 1, 123, 0.1) 0px 0px 0px 1px;
    color: #000000;
  }
 
  .quote-controls {
    opacity: 0.6;
    cursor: not-allowed;
  }
.quote-author{
    /* border: 3px solid rgb(244, 0, 0); */
    width: 30%;
    display: flex;
    gap: 20px;
    height: 70px;
    margin-top: -10px;
    margin-left: -20px;
    justify-content: center;
    align-items: center;
}
.author-img{
    border: 3px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.author-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.blockquote {
    padding: 60px 80px 40px;
    position: relative;
}
.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    margin-top: -55px;
}
  .profile-img{
    width: 60px;
    height: 60px;
  }
.likes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}
.comment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}
.Options{
  position: absolute;
  right: 40px;
  margin-top: -20px;
}

.blockquote::after {
    content: "";
    top: 150px;
    left: 50%;
    margin-left: -110px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3.5px;
    width: 220px;
}
.share{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}


