
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
nav {
    width: 95%;
    height: 115px;
    padding: 0 3rem;
    display: flex;
    gap: 0.6rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: #279b9b99 0px 3px 20px 10px;
    background-color: #fff;
    margin-top: -10px;
    margin-left: -20px;
  }
  
.logo{
    height: 120px;
    width: auto;
    margin-top: 0px;
}

h1{
  color: black;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1:hover{
  color: rgb(3, 137, 171);
  cursor: pointer;
}
.builder{
  color: black;
  text-decoration: none;
}
.login{
  color: black;
  text-decoration: none;
  margin-right: 50px;
}